<div class='row new-order'>
  <hr>
  <%= form_for current_order do |f| %>
    <div class='col-lg-4'>
      <h4 class='brand'>Address</h4>
      <%= f.fields_for :address do |address| %>
        <div class='form-group'>
          <%= address.label :street do %>
            Street Address
            <%= address.text_field :street, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= address.label :number do %>
            City
            <%= address.text_field :city, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= address.label :number do %>
            State
            <%= address.text_field :state, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= address.label :number do %>
            Zip
            <%= address.text_field :postal_code, class: "form-control" %>
          <% end %>
        </div>
      <% end %>

    </div>

    <div class='col-lg-4'>
      <h4 class='brand'>Credit Card</h4>
      <%= f.fields_for :credit_card do |cc| %>
        <div class='form-group'>
          <%= cc.label :name do %>
            Name
            <%= cc.text_field :name, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= cc.label :number do %>
            Number
            <%= cc.text_field :number, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= cc.label :expiration do %>
            Expiration
            <%= cc.text_field :expiration, class: "form-control" %>
            <p class="help-block">(mm/yy)</p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class='col-lg-4'>
      <h4 class='brand'>Shipping Option</h4>
      <div class='shipping-options well'>
        <span class='brand'>:( Please implement me</span>
      </div>
      <%= f.submit "Checkout", class: "btn btn-success btn-block" %>
    </div>

  <% end %>
</div>
