<div class='row new-order'>
  <hr>
  <div class="col-lg-2">
    <h4 class='brand'>Address</h4>
    <%= render current_order.address %>
  </div>
  <%= form_for current_order do |f| %>
    <div class='col-lg-5'>
      <h4 class='brand'>Credit Card</h4>
      <%= f.fields_for :credit_card do |cc| %>
        <div class='form-group'>
          <%= cc.label :name do %>
            Name
            <%= cc.text_field :name, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= cc.label :number do %>
            Number
            <%= cc.text_field :number, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= cc.label :expiration do %>
            Expiration
            <%= cc.text_field :expiration, class: "form-control" %>
            <p class="help-block">(mm/yy)</p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class='col-lg-5'>
      <h4 class='brand'>Shipping Option</h4>
      <div class='shipping-options well'>
        <!-- Shipping goes here, it'll prob be a form eventually -->
        <span class='brand'>:( Please implement me</span>
        <ul>
          <% @response.each do |quote| %>
            <li><%= quote[0] %>, <%= quote[1] %></li>
          <% end %>
        </ul>
      </div>
      <%= f.submit "Checkout", class: "btn btn-success btn-block" %>
    </div>

  <% end %>
</div>
