<%= form_for current_order, url: update_order_path(current_order) do |f| %>
  <h5>Shipping Quotes</h5>
    <% @allresponses.each do |quote| %>
      <div class="form-field">
        <%= f.radio_button :shipping_option, quote[0] + "," + quote[1].to_s %> <%= number_to_currency((quote[1].to_f)/100) %> <%= quote[0] %>
      </div>
    <% end %>

  <%= f.submit "Update Total", class: "btn btn-submit" %>

<% end %><!-- End of form-->
