<!DOCTYPE html>
<html>
<head>
  <title>Toys</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if has_order? %>
    <div class='nav-cart'>
      Cart (<%= current_order.items.count %>)
    </div>
  <% end %>
</header>
<div class='container'>
<%= yield %>
</div>
</body>
</html>
